google-generativeai
python-dotenv
langchain
PyPDF2
PyMuPDF
pdf2image
chromadb
pinecone-client
faiss-cpu
Flask
pymongo
PyPDF2
torch
transformers
langchain_google_genai
langchain_community
docx2txt
sentence-transformers
pytesseract 
pillow
easyocr 